

body{
   height: 5000px;
    padding-top: 7%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    position: fixed;
    width: 100%;
    height: 6% ;
    border-bottom: 1px solid rgb(223, 211, 211);
    z-index: 9999;
    top: 0;
    background-color: white;
    
}
.left_h_div{
    
    float: left;
    width: 3%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.right_h_div{
    float: right;
    width:16%;
    height: 100%;
    
    align-items: center;
    display: flex;
    display: flex;

}

.a1{
    background-color: aqua;
}

.b1h{
    width: 24px;
    height: 24px;
    fill: none;
    cursor: pointer;
    

} 

.b2h{
   
    border: 1px solid gray;
    cursor: pointer;
    margin-right: 5%;
    border-radius: 6px;
    width: 12%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.svg2{
    width: 24px;
    height: 24px;
    fill: none;
    cursor: pointer;
}

.b3h{
   background-color: rgb(0, 0, 0);
    cursor: pointer;
    height: 70%;
    font-size: small;
    display: flex;
    width:80%;
    padding: 0%;
    margin: 0%;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    text-decoration: none;
    margin-right: 6%;
    
}
.svg3{
    width: 24px;
    height: 24px;
    fill: none;
    cursor: pointer;
    margin: 0%;
}


.nightb{
    background-color: aqua;

   
}

.div1{
    float: left;
    height: 10%;
    background-color: aquamarine;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2{
    float: right;
    background-color: pink;
    width: 50%;
    text-align: center;
    height: 10%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.devpic{
    height: 90%;
    z-index: 999;
    width: 50%;
    clip-path: inset();
    
    
}
.rotate-div{

    transform: rotate(-60deg);
    background-color: blue;
    width: 323px;
    height: 245px;
}


